<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Random Animals Facts</title>
</head>
<body>
    <h1>Welcome in Random Animals Facts App!</h1>
    <p>Choose an animal type for which you want to receive a fact.</p>

    <form action="#" th:action="@{/facts/generate}" th:object="${generatorParameters}" method="post">
        <label for="animalType">Animal Type:</label>
        <div>
            <select id="animalType" th:field="*{animalType}" required>
                <option th:value="'dog'" th:text="Dog"></option>
                <option th:value="'cat'" th:text="Cat"></option>
            </select>
            <div th:if="${#fields.hasErrors('animalType')}">
                <p th:each="err : ${#fields.errors('animalType')}" th:text="${err}"></p>
            </div>
        </div>
        <br>
        <label for="factsAmount">Facts Amount:</label>
        <div>
            <input id="factsAmount" type="number" required th:field="*{factsAmount}">
            <div th:if="${#fields.hasErrors('factsAmount')}">
                <p th:each="err : ${#fields.errors('factsAmount')}" th:text="${err}"></p>
            </div>
        </div>

        <br>
        <button type="submit">Get fact</button>
    </form>
</body>
</html>